body {
    margin: 0;
    font-family: Poppins, sans-serif;
}
svg {
    width: 30px;
}
a {
    text-decoration: none;
    color: #2f2f2f;
}
button {
    cursor: pointer;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transform: 0.5s;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px 0;
}
.cart-icon {
    position: relative;
    cursor: pointer;
}
.cart-icon span {
    position: absolute;
    top: 50%;
    right: -10px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: xx-large;
}

.cartTab {
    background-color: #353432;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    /* height: 100vh; */
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
.cartTab h1 {
    margin: 0;
    padding: 20px;
    font-weight: 300;
}
.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
    background-color: #e88c0e;
    border: none;
    font-weight: 500;
}
.cartTab .btn button.close {
    background-color: #eee;
}
.cartTab .listCart {
    overflow: auto;
}
.cartTab .listCart::-webkit-scrollbar {
    width: 0;
}
.cartTab {
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cartTab {
    right: 0;
}
body.activeTabCart .container{
    transform: translate(-250px);
}

/* list product items */
.listProduct .product-item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.listProduct .product-item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 10px;
}

.listProduct .product-item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .product-item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .product-item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px
}

/* cart items */
.listCart .item img {
    width: 90%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 140px 85px 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.listCart .item .quantity {
    display: flex;
    align-items: center;
}

.listCart .item .quantity span {
    width: 20px;
    height: 20px;
    background-color: #eee;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .item .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

/* details page */

.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}

.detail .image img {
    width: 100%;
}

.detail .image {
    position: relative;
}

.detail .image::before {
    position: absolute;
    content: '';
    background-color: #94817733;
    z-index: -1;
    top: 50px;
    left: calc(50% - 120px);
    width: 300px;
    height: 300px;
    border-radius: 190px 100px 170px 100px;
}

.detail .name {
    font-size: xx-large;
    font-weight: 500;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}

.detail .price {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 7px;
    margin: 0 0 20px 0;
}

.detail .buttons button {
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: large;
    cursor: pointer
}

.detail svg {
    width: 15px;
}

.detail .buttons button:nth-child(2) {
    background-color: #2f2f2f;
    color: #eee;
    display: inline-flex;
    gap: 20px;
    box-shadow: 0 10px 20px #2f2f2f77;
}

.detail .buttons svg {
    transform: translateY(5px);
}

.detail .description {
    font-weight: 300;
}